#logo {
    color: white;
    height: 60px;
}

#navbarSupportedContent1 {
    padding-top: 30px;
}

.body {
    background-color: rgb(236, 215, 188);
}

.body2 {
    background-color: rgb(236, 215, 188);
}

.body3 {
    background-color: rgb(236, 215, 188);
}

.body4 {
    background-color: rgb(236, 215, 188);

}

.body5 {
    background-color: rgb(236, 215, 188);
}

.body6 {
    background-color: rgb(236, 215, 188);
}

.adresa li {
    color: #41525F;
}

section.section {
    margin: 0;
    padding: 80px 0 60px 0;
}

.section-header h2.section-heading {
    text-transform: uppercase;
    font-weight: 700;
}

.section-header {
    text-align: center;
}

#contact-form input[type="text"] {
    height: 60px;
    margin-bottom: 30px;
}

#contact-form input[type="text"],
.contactForm textarea {
    width: 100%;
    background:
        rgba(227, 231, 228, 1);
    font-family: 'Open Sans', sans serif;
    border: 0;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    padding: 0 10px;
}

#contact-form input[type=submit] {
    color: #fff;
    width: 185px;
    height: 60px;
    text-shadow: none;
    font-size: 14px;
    padding: 0.5em;
    letter-spacing: 0.05em;
    margin: 0 0 20px 0;
    display: block;
    border: 0;
    text-transform: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

::-webkit-input-placeholder {

    font-family: Verdana;
}

.row {
    margin: 0;
}

.portofoliu ul{
    margin: 0 0 0 45%;
}